body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #b28dd4;
}

.container {
  background-color: rgb(236, 194, 236);
  box-shadow: 0 0 10px rgba(231, 53, 216, 0.2);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ce7676;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #943c88;
  color: rgb(241, 192, 192);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e786c7;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
